.card-grid {
    display: grid;
    grid-template-areas: "aaa" auto;


}
.card {
    width: 250px;
    height: 250px;
    background-color: lightblue;
    border-radius: 10px;
    

    
}
h1 {
color: black;}
h2 {
color: black;
}